<!DOCTYPE html>
<html>
<head>
	<title>Invernadero Sustentable</title>

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">

	<!-- Include scripts -->
	<script type="text/javascript" src="/static/menu2/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/menu2/js/responsivemultimenu.js"></script>

	<!-- Include styles -->
	<link rel="stylesheet" href="/static/menu2/css/responsivemultimenu.css" type="text/css"/>
    <link rel="stylesheet" href="/static/menu2/font-awesome/css/font-awesome.css">	

	<!-- Include media queries -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
</head>
<body style="background-color: black;" >
	<div>
	<div class="rmm style">
	<ul>
	<li><a href="#"><i class="icon-home"></i>Inicio</a></li>
	<li><a href="#"><i class="icon-camera"></i>Menú A</a>
		<ul>
		<li><a href="/hello/">Opción Hola</a></li>
		<li><a href="/opcion2/">Opción 2</a></li>
		<li><a href="/opcion3/">Opción 3</a></li>
		</ul>
	</li>
	<li><a href="#"><i class="icon-user"></i>Menú B</a>
		<ul>
		<li><a href="/opcion4/">Opción 4</a></li>
		<li><a href="/opcion5/">Opción 5</a></li>
		<li><a href="/opcion6/">Opción 6</a></li>
		</ul>
	</li>
	<li><a href="#"><i class="icon-user"></i>Menú C</a>
		<ul>
		<li><a href="/opcion7/">Opción 7</a></li>
		<li><a href="/opcion8/">Opción 8</a></li>
		<li><a href="/opcion9/">Opción 9</a></li>
		</ul>
	</li>
	</div>
	</div>
</body>
</html>
